.cache
songs.txt

env/
.music-library-venv/
__pycache__/
downloads/
build/
dist/
temp_spotify_songs.txt
french_indie/
angy/
spotify_credentials.json

*.zip

XCarAudio/node_modules/
XCarAudio/dist/
XCarAudio/build/
XCarAudio/.env
XCarAudio/ios/build/
XCarAudio/ios/Pods/

XCarAudio/nas_agent/__pycache__/
XCarAudio/.yarn/install-state.gz
.DS_Store
.claude/settings.local.json
.claude/settings.local.json
.claude/settings.local.json
downloads2/Beanfield feat. Bajka - Tides (Ripperton Mix).webm
downloads2/Club Lonely (DJ Fopp Main Mix).webm
downloads2/FG Adeva - Respect (Club Vocal Remix) 1993.webm
downloads2/Jimmy Sax -  Time.webm
downloads2/Laguna-Spiller From Rio.webm
downloads2/REVIVAL HOUSE PROJECT, MOUSSE T., KATHY BROWN - I'M GONNA MAKE IT (LYRIC VIDEO).webm
downloads2/Sebb Junior - Ghetto Boy (Extended Mix).webm
downloads2/TRINIX & Mari Froes - Vaitimbora (Lyrics).webm
songssss
XCarAudio/nas-agent/.env

melodic/
e2026/
e2026_3/
classic/
downloads/
songlists/